<!-- views/index.ejs -->
<!doctype html>
<html>
  <head>
  	<title>Cluster Management Tool</title>
  	<% include partials/css %> <!-- load css -->
  	<style>
  		body 		{ padding-top:80px; }
  	</style>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron text-center">
        <h3>Cluster Management Tool</h3>
        <a href="/sge/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
      </div>
    </div>
    <% include partials/js %> <!-- load js -->
  </body>
</html>
